{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bois et Tournage</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/basestyle.css' %}">
    <link rel="stylesheet" href="{% static 'css/indexstyle.css' %}">
</head>

<body>

    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Bois et Tournage</a>
        </div>
    </nav>

    {% block content %}


    {% endblock %}

    <section class="footer-section">
        <p class="footer-msg">
            Lorem ipsum dolor sit amet consectetur.
        </p>
        <div class="socials">
            <div class="social-img">
                <img class="social-icon" src="{% static 'img/whatsapp.svg' %}">
            </div>
            <div class="social-img">
                <img class="social-icon" src="{% static 'img/facebook.svg' %}">

            </div>
            <div class="social-img">
                <img class="social-icon" src="{% static 'img/linkedin.svg' %}">
            </div>
            <div class="social-img">
                <img class="social-icon" src="{% static 'img/reddit.svg' %}">
            </div>
            <div class="social-img">
                <img class="social-icon" src="{% static 'img/skype.svg' %}">
            </div>
            <div class="social-img">
                <img class="social-icon" src="{% static 'img/telegram.svg' %}">
            </div>
            <div class="social-img">
                <img class="social-icon" src="{% static 'img/telephone.svg' %}">
            </div>
        </div>
        <h6>
            All rights reserved
        </h6>
        </div>
    </section>





    <script src="js/bootstrap.bundle.js"></script>
</body>

</html>