{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <figure class="snip1467">
                <img src="{% static 'img/img1.jpg' %}">
                <figcaption>
                    <h3>Some dummy title</h3>
                    <p>Made with love by Fidèle Dossou.</p>
                </figcaption>
                <a href="#"></a>
            </figure>
        </div>
        <div class="col-md-3 col-sm-6">
            <figure class="snip1467">
                <img src="{% static 'img/img2.jpg' %}">
                <figcaption>
                    <h3>Some dummy title</h3>
                    <p>Made with love by Fidèle Dossou.</p>
                </figcaption>
                <a href="#"></a>
            </figure>
        </div>
        <div class="col-md-3 col-sm-6">
            <figure class="snip1467">
                <img src="{% static 'img/img3.jpg' %}">
                <figcaption>
                    <h3>Some dummy title</h3>
                    <p>Made with love by Fidèle Dossou.</p>
                </figcaption>
                <a href="#"></a>
            </figure>
        </div>
        <div class="col-md-3 col-sm-6">
            <figure class="snip1467">
                <img src="{% static 'img/img4.jpg' %}">
                <figcaption>
                    <h3>Some dummy title</h3>
                    <p>Made with love by Fidèle Dossou.</p>
                </figcaption>
                <a href="#"></a>
            </figure>
        </div>
    </div>
</section>

<section id="pgraph">
    <div class="pgraph-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus sapiente dolor in officia similique enim
        illum
        asperiores deserunt aliquid quibusdam mollitia saepe itaque doloribus repudiandae facilis adipisci magni neque,
        eum
        quaerat doloremque iusto sequi voluptates! Debitis, repudiandae? Debitis magnam a, molestias reprehenderit
        quidem
        omnis corporis earum illo, magni, perferendis voluptas.
    </div>

</section>

<section id="testimonials">
    <div class="h2">
        Avis et Témoignages
    </div>
   
</section>

<section id="cards" class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <img src="{% static 'img/p1.jpg' %}" class="card-img-top">
            <div class="card-body">
                <p class="card-text"> John Doe
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aut, quaerat!
                </p>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <img src="{% static 'img/p2.jpg' %}" class="card-img-top">
            <div class="card-body">
                <p class="card-text">Janet Doe

                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, quae?
                </p>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <img src="{% static 'img/p4.jpg' %}" class="card-img-top">
            <div class="card-body">
                <p class="card-text">Georgina Stone
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Commodi, rerum!
                </p>
            </div>
        </div>

        <div class="col-md-3 col-sm-6">
            <img src="{% static 'img/p3.jpg' %}" class="card-img-top">
            <div class="card-body">
                <p class="card-text">Fatima Dioup
                </p>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eos, sed?
                </p>
            </div>
        </div>

</section>

{% endblock %}






<img src="{% static 'img/p1.jpg' %}">